body {
	margin: 0;
	font-family: "Microsoft YaHei";
	min-width: 1280px;
}
header {
	width: 100%;
	height: 56px;
}
.world {
	float: left;
	margin: 12px 0px 10px 60px;
}
.world img {
    vertical-align: middle;
}
.world span {
	font-size: 21px;
	font-family: "黑体";
	vertical-align: middle;
}
nav {
	float: right;
}
nav ul {
	margin: 0px;
	margin-right: 50px;
}
nav li {
	float: left;
	height: 56px;
	line-height: 56px;
	padding: 0 20px 0 20px;
	list-style-type: none;
	font-family: "Microsoft YaHei";
	box-sizing: border-box;
}
nav li a:link {
	color: #828282;
	text-decoration:  none;
}
nav li a:hover {
	color:  #e7504d;
}
nav li:hover {
	border-bottom: 3px #e7504d solid;
}
nav li img {
	padding: 5px;
	padding-bottom: 8px;
}
img {
	vertical-align: middle;
}
.article1 {
	width: 100%;
	height: 700px;
	position: relative;
}
.article1 img {
	position: absolute;
}
.backgroundcolor {
	width: 100%;
	height: 700px;
	position: absolute;
	background: #040000;
	opacity: .2;
}
.bigimg1 {
	font-family: "Microsoft YaHei";
	width: 100%;
	height: 700px;
	position: absolute;
	color: white;
}
.lift {
	position: relative;
	left: 118px;
	top: 230px;
	width: 500px;
}
.bigimg1 h1 {
	font-size: 50px;
	line-height: 90px;
	font-weight: 500;
	margin: 0;
}
.bigimg1 p {
	margin: 0;
	font-size: 21px;
	line-height: 34px;
}
.start {
	font-size: 30px;
	line-height: 63px;
	margin-top: 56px;
	background: #e74f4d;
	width: 331px;
	height: 63px;
	text-align: center;
}
.start a:link {
	color: white;
	text-decoration: none;
}
.start:hover {
	background: #e0201e;
	transition: background 1s;
}
.table1 {
	width: 100%;
	height: 250px;
	display: table;
}
.table1Row {
	display: table-row;
}
.table1Cell {
	display: table-cell;
	text-align: center;
	padding-top: 50px;
}
.table1Cell p {
	margin-top: 30px;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
	color: #767777;
}
.table1Cell p:hover {
	color: #be4f48;
}
.tableP {
	border-left: 2px solid #bbbbbb;
}
.article2 {
	height: 270px;
	width: 100%;
	text-align: center;
	background: #ededed;
	padding-top: 90px;
}
.article2 p {
	font-size: 48px;
	color: #a1a1a1;
	margin: 40px;
}
.article3 {
	position: relative;
	width: 100%;
	height: 340px;
}
.article3bgd {
	background: #aa3433;
	width: 100%;
	height: 340px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.2;
}
.table2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 340px;
}
.tablecaption {
	width: 100%;
	height: 170px;
	text-align: center;
	color: #f4eeed;
}
.tablecaption h2 {
	margin: 0px;
	padding-top: 50px;
	color: white;
	font-weight: 500;
}
.table2 form {
	box-sizing: border-box;
	padding-left: 120px;
	padding-right: 120px;
	display: table;
	width: 100%;
	height: 170px;
}
.table2Row {
	display: table-row;
	height: 50%;
	text-align: center;
}
.table2Cell {
	display: table-cell;
	width: 25%;
	padding: 0 15px 0 15px;
	position: relative;
}
.table2Cell select {
	width: 100%;
	height: 35px;
	border: 0;
	border-left: 1px solid #e3d8d5;
	border-right: 1px solid #e3d8d5;
	color: #a8aaaa;
	padding: 5px;
	-webkit-appearance: none;
}
.table2Cell input {
	width: 100%;
	height: 35px;
	background: #be4e48;
	border: 0;
	border-left: 1px solid #612e2e;
	border-right: 1px solid #612e2e;
	color: white;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 20px;
}
.table2Cell input:hover {
	background: #e74f4d;
	transition: background 1s;
}
.selectimg {
	background: #be4e48;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 25px;
	top: 10px;
}
.selectimg img {
	padding-bottom: 7px;
}

select:hover {
	border: 1px solid #be726c;
}
select:active {
	border: 1px solid #be726c;
}
option {
	background: #e4e3e5;
}
.tablecaption hr {
	width: 35px;
	transition: width 2s;
}
.tablecaption hr: hover {
	width: 280px;
}
.article4 {
	width: 100%;
	height: 600px;
	background: #f7f7f7;
	padding: 100px;
	text-align: center;
	box-sizing: border-box;
}
.article4m {
	display: inline-block;
	margin: 15px;
	vertical-align: top;
	box-sizing: border-box;
}
.figurepd {
	background: white;
}
.fig1 {
	font-size: 15px;
	padding-top: 10px;
}
.fig2 {
	font-size: 21px;
	line-height: 19px;
	text-align: center;
}
.article4m span {
	font-size: 12px;
	color: #888989;
}
.figspan {
	line-height: 30px;
}
.article4m img {
	padding: 11px 7px;
	border: 1px solid #dcdddd;
}
.article4m .bdb {
	border-bottom: 0;
}
.article5 {
	width: 100%;
	height: 1150px;
}
.a5left {
	width: 68%;
	height: 1150px;
}
.a5lt {
	height: 580px;
	position: relative;
}
.imgworld {
	width: 100%;
	padding-top: 150px;
	box-sizing: border-box;
	color: white;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
}
.imgworld p {
	margin: 0;
}
.imgworld .wspan1 {
	font-size: 50px;
	line-height: 50px;
}
.imgworld .wspan2 {
	font-size: 160px;
	line-height: 150px;
}
.imgworld .wspan3 {
	font-size: 22px;
	line-height: 60px;
}
.imgworld time {
	font-size: 22px;
}
.ltthree {
	border: 15px solid transparent;
	border-right: 25px solid white;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;

}
.a5right {
	width: 32%;
	height: 1150px;
	float: right;
}
.a5rt {
	text-align: center;
	height: 580px;
	padding-top: 130px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}
.a5rt h3 span {
	color: #e74f4d;
}
.a5rt p {
	width: 360px;
	margin: 0 auto;
	font-size: 14px;
	color: #b0b0b0;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: left;
}
.a5rt h3 {
	font-size: 24px;
}
.a5rt p span {
	text-align: left;
}
.a5red {
	margin: 40px auto 0 auto;
	width: 100px;
	height: 30px;
	border: #e46669 1px solid;
	color: #e46669;
	line-height: 30px;
}
.a5red a:link {
	text-decoration: none;
	color: #e46669;
}
.a5red a:visited {
	color: #e46669;
}
.a5gray div {
	width: 8px;
	height: 8px;
	border: 1px solid #929292;
	border-radius: 4px;
	float: left;
	margin: 8px;
}
.a5gray {
	position: relative;
	left: 50%;
	margin-left: -38px;
	margin-top: 20px;
	width: 100px;
}
.a5gray div:hover {
	background: #929292;
}
.a5rb {
	position: relative;
	width: 100%s;
	height: 570px;
}
.a5rb1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #040000;
	opacity: 0.4;
}
.rbthree {
	border: 15px solid transparent;
	border-left: 25px solid white;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;

}
.a5lb {
	width: 100%;
	height: 570px;
}
.a5lbl,.a5lbr {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}
.a5lb a:link {
	text-decoration: none;
}
.a5lbl {
	background: #e7504d;
	color: white;
}
.a5lbl a:link {
	color: white;
}
.a5lbr {
	background: white;
	color: #323333;
}
.a5lbr a:link {
	color: #e95a58;
}
.a5lb p {
	font-size: 21px;
	line-height: 31px;
	margin-top: 180px;
	font-weight: 500;
}
.a5lb hr {
	width: 35px;
	transition: width 2s;
}
.a5lbl div {
	font-size: 21px;
	line-height: 40px;
	width: 170px;
	border: 1px solid;
	margin: 28px auto 0 auto;
}
.a5lb hr:hover {
	width: 180px;
}
.a5lbr div {
	font-size: 21px;
	line-height: 40px;
	width: 170px;
	color: #e95a58;
	border: 1px solid #e95a58;
	margin: 28px auto 0 auto;
}
.article6 {
	width: 80%;
	height: 750px;
	margin: 0 auto;
}
.a6t {
	width: 100%;
	height: 270px;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
}
.a6t hr {
	width: 30px;
	transition: 2s width;
}
.a6t hr:hover {
	width: 180px;
}
.a6t h3 {
	font-size: 20px;
	line-height: 25px;
	margin: 0;
	font-weight: 500;
}
.a6t p {
	font-size: 12px;
	line-height: 19px;
	color: #aaaaaa;
}
.a6b {
	margin-top: 30px;
	width: 100%;
	height: 480px;
}
.a6bl {
	width: 35%;
	height: 100%;
	padding-right: 80px;
	box-sizing: border-box;
}
.a6bl h5 {
	font-size: 15px;
	line-height: 35px;
	margin: 0;
	font-weight: 500;
	color: #666160;
}
.a6bl p {
	font-size: 12px;
	line-height: 22px;
	color: #9d9b9a;
	margin: 15px 0 5px 0;
}
.a6bl-1 {
	padding-bottom: 10px;
}
.a6bl .a6bl-1-1 {
	text-align: right;
	font-size: 5px;
	line-height: 6px;
	color: black;
	opacity: 0.6;
	margin: 0;
}
.a6bl-1-1 a {
	text-decoration: none;
	color: black;
}
.a6br {
	float: right;
	width: 65%;
	height: 480px;
	margin-top: -15px;
}
.a6table {
	display: table;
	width: 100%;
	border-spacing: 15px;
}
.a6tableRow {
	display: table-row;
}
.a6tableCell {
	display: table-cell;
	background: #edecee;
	vertical-align: middle;
	box-sizing: border-box;
	line-height: 40px;
	font-size: 15px;
	color: #6c6868;
	padding-left: 15px;
}
.a6tableCell input {
	border: 0;
	background: #edecee;
	font-size: 14px;
	line-height: 24px;
	margin-left: 5px;
	padding-left: 5px;
}
.a6f1 textarea {
	vertical-align: top;
	background: #edecee;
	border: 0;
	resize: none;
	font-size: 12px;
	line-height: 22px;
	margin: 5px;
	padding: 5px;
}
.a6f {
	width: 100%;
}
.a6f2 input {
	background: #edecee;
	border: 0;
	text-align: center;
	width: 100%;
	color: #323333;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
}
.a6f1 {
	background: #edecee;
	padding-left: 15px;
	color: #6c6868;
	line-height: 40px;
	font-size: 15px;
	margin: 0 15px 0 15px;
}
.a6f2 {
	margin: 15px;
}
footer {
	height: 420px;
	width: 100%;
}
.footer1 {
	height: 360px;
	background: #32353e;
	text-align: center;
	padding-top: 80px;
	box-sizing: border-box;
	color: #f5f5f5;
}
.footer1 h3 {
	margin: 10px;
}
.footer1 p {
	font-size: 10px;
	line-height: 17px;
	letter-spacing: 1px;
	margin: 0;
}
.footer1 form {
	height: 40px;
	width: 40%;
	margin: 30px auto 0 auto;
}
.ipem {
	padding: 10px;
	font-size: 15px;
	width: 85%;
	box-sizing: border-box;
}
.ipsb {
	box-sizing: border-box;
	width: 15%;
	background: #6f7178;
	padding: 10px;
	font-size: 17px;
	border: 0;
	margin-left: -5px;
	color: white;
	font-weight: 600;
}
.ipsb:hover {
	background: black;
	transition: background 2s;
}
.footer1 div img {
	margin: 15px;
	margin-top: 40px;
}
.footer2 {
	height: 60px;
	background: #303039;
	color: white;
}
.f2r {
	float: right;
	font-size: 10px;
	margin: 20px;
}
.f2l {
	float: left;
	font-size: 12px;
	margin: 20px;
}
.f2r a:link {
	color: white;
	text-decoration: none;
}
.f2r a:visited {
	color: white;
}
.f2r a:hover {
	color: white;
}
